In [1]:
import pymysql

### DB연결확인

In [2]:
conn = pymysql.connect(host='3.36.255.55', user='root', password='root1234', db='lol_project', charset='utf8')
cur = conn.cursor(pymysql.cursors.DictCursor)
cur.execute('select * from champion where no < 6')
conn.close()
result = cur.fetchall()
result

[{'no': 1,
  'champion_key': 266,
  'name': '아트록스',
  'en_name': 'Aatrox',
  'image': 'http://ddragon.leagueoflegends.com/cdn/12.19.1/img/champion/Aatrox.png'},
 {'no': 2,
  'champion_key': 103,
  'name': '아리',
  'en_name': 'Ahri',
  'image': 'http://ddragon.leagueoflegends.com/cdn/12.19.1/img/champion/Ahri.png'},
 {'no': 3,
  'champion_key': 84,
  'name': '아칼리',
  'en_name': 'Akali',
  'image': 'http://ddragon.leagueoflegends.com/cdn/12.19.1/img/champion/Akali.png'},
 {'no': 4,
  'champion_key': 166,
  'name': '아크샨',
  'en_name': 'Akshan',
  'image': 'http://ddragon.leagueoflegends.com/cdn/12.19.1/img/champion/Akshan.png'},
 {'no': 5,
  'champion_key': 12,
  'name': '알리스타',
  'en_name': 'Alistar',
  'image': 'http://ddragon.leagueoflegends.com/cdn/12.19.1/img/champion/Alistar.png'}]

### 데이터 가져오기

In [3]:
import pickle

In [4]:
with open('timelineData3','rb') as f:
    timelineData3 = pickle.load(f)

In [5]:
timelineData3.head()

,gameId,realTimestamp,itemId,level,levelUpType,creatorId,participantId,timestamp,type,skillSlot,monsterType,wardType,killType,killerId,victimId,position_x,position_y,winningTeam
0,6089244826,1661165618822,0,0,0,0,0,0,PAUSE_END,0,0,0,0,0,0,0,0,0
1,6089244826,0,1035,0,0,0,2,3489,ITEM_PURCHASED,0,0,0,0,0,0,0,0,0
2,6089244826,0,2031,0,0,0,2,3952,ITEM_PURCHASED,0,0,0,0,0,0,0,0,0
3,6089244826,0,3850,0,0,0,5,4844,ITEM_PURCHASED,0,0,0,0,0,0,0,0,0
4,6089244826,0,2003,0,0,0,5,5505,ITEM_PURCHASED,0,0,0,0,0,0,0,0,0

In [6]:
timelineData3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9949339 entries, 0 to 9949338
Data columns (total 18 columns):
 #   Column         Dtype
---  ------         -----
 0   gameId         int64
 1   realTimestamp  int64
 2   itemId         int64
 3   level          int64
 4   levelUpType    object
 5   creatorId      int64
 6   participantId  int64
 7   timestamp      int64
 8   type           object
 9   skillSlot      int64
 10  monsterType    object
 11  wardType       object
 12  killType       object
 13  killerId       int64
 14  victimId       int64
 15  position_x     int64
 16  position_y     int64
 17  winningTeam    int64
dtypes: int64(13), object(5)
memory usage: 1.3+ GB

In [11]:
gameId=timelineData3['gameId'].values
realTimestamp=timelineData3['realTimestamp'].values
itemId=timelineData3['itemId'].values
level=timelineData3['level'].values
levelUpType=timelineData3['levelUpType'].values
creatorId=timelineData3['creatorId'].values
participantId=timelineData3['participantId'].values
timestamp=timelineData3['timestamp'].values
types=timelineData3['type'].values
skillSlot=timelineData3['skillSlot'].values
monsterType=timelineData3['monsterType'].values
wardType=timelineData3['wardType'].values
killType=timelineData3['killType'].values
killerId=timelineData3['killerId'].values
victimId=timelineData3['victimId'].values
position_x=timelineData3['position_x'].values
position_y=timelineData3['position_y'].values
winningTeam=timelineData3['winningTeam'].values

In [31]:
conn = pymysql.connect(host='3.36.255.55', user='root', password='root1234', db='lol_project', charset='utf8')
for a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r in zip(gameId,realTimestamp,itemId,level,levelUpType,creatorId,participantId,timestamp,types,skillSlot,monsterType,wardType,killType,killerId,victimId,position_x,position_y,winningTeam):
    sql = """insert into timelineData (gameId,realTimestamp,itemId,level,levelUpType,creatorId,participantId,timestamp,type,skillSlot,monsterType,wardType,killType,killerId,victimId,position_x,position_y,winningTeam) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
    val = (a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r)
    cur.execute(sql,val)
conn.commit()
conn.close()

InterfaceError: (0, '')